version: '2'
services:
  master:
    container_name: jenkins
    build: jenkins-devops
    image: jenkins-devops
    restart: unless-stopped
    hostname: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
 
volumes:
  jenkins_home:
